.container {
  margin: 5px auto;
  max-width: 1200px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px auto;
  max-width: 1200px;
}

[class*="col-"] {
  margin: 5px;
  padding: 5px 0px;
}

.row--nospace * {
  margin: 0;
}
.row--fullwidth {
  max-width: 100%;
}

.col-1 {flex: 1 1 calc(10% - 10px);}
.col-2 {flex: 1 1 calc(20% - 10px);}
.col-3 {flex: 1 1 calc(30% - 10px);}
.col-4 {flex: 1 1 calc(40% - 10px);}
.col-5 {flex: 1 1 calc(50% - 10px);}
.col-6 {flex: 1 1 calc(60% - 10px);}
.col-7 {flex: 1 1 calc(70% - 10px);}
.col-8 {flex: 1 1 calc(80% - 10px);}
.col-9 {flex: 1 1 calc(90% - 10px);}
.col-10 {flex: 1 1 calc(100% - 10px);}

@media only screen and (max-width: 500px) {
  .col-1 {flex: 1 1 calc(100% - 10px);}
  .col-2 {flex: 1 1 calc(100% - 10px);}
  .col-3 {flex: 1 1 calc(100% - 10px);}
  .col-4 {flex: 1 1 calc(100% - 10px);}
  .col-5 {flex: 1 1 calc(100% - 10px);}
  .col-6 {flex: 1 1 calc(100% - 10px);}
  .col-7 {flex: 1 1 calc(100% - 10px);}
  .col-8 {flex: 1 1 calc(100% - 10px);}
  .col-9 {flex: 1 1 calc(100% - 10px);}
}
